# Dynamips: ignore everything except saved router configs
tp1/project-files/dynamips/**
!tp1/project-files/dynamips/**/
!tp1/project-files/dynamips/**/configs/
!tp1/project-files/dynamips/**/configs/**

# VPCS: ignore everything except saved VPCS configs
tp1/project-files/vpcs/**
!tp1/project-files/vpcs/**/
!tp1/project-files/vpcs/**/startup.vpc
